* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
/* header */
.header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #fff;
	padding: 20px 24px 0;
	border-bottom: 1px solid #cbcbcb;
}
.top-header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 4px;
}
.logo img {
	width: 74px;
	height: 24px;
	vertical-align: middle;
}
.top-header .title {
	margin-left: 10px;
	font-size: 22px;
}
.top-header a {
		color: #5f6368;
		line-height: 1.43;
}
.bottom-reader {
	padding: 15px 0 0 0;
}
.list-menu {
	display: flex;
	width: 100%;
	list-style: none;
	padding: 15px 0 0 0;
}
.item-menu {
	padding-bottom: 10px;
	margin: 0 42px 0px 0;
}
.item-menu a {
	font-weight: 600;
	color: #64636c;
	padding-bottom: 10px;
}
.item-menu:nth-child(5) {
	flex-grow:1
}
.item-menu:nth-child(5){
}
.item-menu:nth-child(5) a {
	color: #3367d6;
	border-bottom: 3px solid #3367d6;

}
/* Menu mobile */
.menu-mobile {
	display: none;
}
.bars {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px
}
.fa-bars {
	font-size: 20px;;
	color: #777777;
	vertical-align: middle;
}
.logo-mobile {
	width: 110px;
	height: 50px;
	padding: 15px;
}
.logo-mobile__img {
		width: 100%;
}


/* Main */
.container {
	max-width: 1042px;
	margin: 0 auto;
	margin-top: 96px;
	padding: 32px;
	display: flex;
}
.qea__domanda {
	font-family: 'Open Sans', sans-serif;
	background-color: inherit;
	color: #3c4043;
	font-size: 24px;
	padding-top: 64px;
}
.qea {
	list-style: none;
}
.qea__item {
	min-width: 360px;
	padding: 10px 5px;
}
.qea__risposta{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px
}
.qea__risposta p {
	margin: 10px 0;
	padding: 20px 0px 0px;
}


/* Mobile */
@media screen and (max-width: 1250px) {
	.container {
		padding: 5px;
	}
	.header {
		padding: 20px 15px 0;
	}
	.bottom-header {
		display: none;
	}
	.menu-mobile {
		display: flex;
	}
}
